
header {
    background-color: rgb(100, 100, 100);
}

h1 {
    color: white;
    text-decoration: underline;
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    height: 30px
}

h2 {
    color: rgb(100, 100, 100);
    text-align: left;
    font-family: Helvetica;
    font-style: italic;
    font-size: 17px
}

p, li {
    color: rgb(100, 100, 100);
    text-align: left;
    font-family: Helvetica;
    font-size: 12px
}

img { 
    border:5px solid rgb(255, 172, 65);
    padding: 5px;
    float: left;
    margin: 20px
    
 }

 #main-bio {
     width: 70%;
     float: left
 }

 #contact {
    width: 30%;
    float: right
 }